<?php
include_once '../controle/noticiaControle.php';
include_once '../persistencia/conexao.php';

?>
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="template/ico/favicon.ico">


    <title>Starter Template for Bootstrap</title>

    <!-- Jquery  CSS -->
    <link href="../template/jquery/jquery-ui.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap.min.css.map" rel="stylesheet"/>

    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap.css.map" rel="stylesheet"/>

    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css.map" rel="stylesheet"/>

    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="../template/bootstrap-3.3.6-dist/css/bootstrap-theme.css.map" rel="stylesheet"/>

    <!-- Bootstrap Script -->
    <script src="../template/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="../template/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <!-- Jquery Script -->
    <script src="../template/jquery/jquery-1.10.2.js"></script>
    <script src="../template/jquery/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#noticiaData").datepicker(
                {
                    dateFormat: 'yy/mm/dd',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior'
                }
            )
            ;
        });
    </script>


</head>
<body>

<div class="modal fade" tabindex="-1" role="dialog" id="rrr">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<?php
$search = $_REQUEST;
//var_dump($a['search']);
error_reporting(E_ALL & ~E_NOTICE);
?>
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Excluir Noticia</h4>
            </div>
            <div class="modal-body">
                Deseja realmente excluir está Noticia?
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary" name="del" id="del">Sim
                    </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
            </div>
        </div>
    </div>
</div> <!-- /.modal -->

<div id="main" class="container mark">
    <div id="top" class="row">

        <div class="col-md-3">
            <h2>Buscar Produtos</h2>
        </div>
        <form>

            <div class="col-md-6">
                <div class="input-group h2">
                    <input name="search" class="form-control" id="search" type="text" placeholder="Pesquisar Noticias">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
                </div>
            </div>

            <div class="col-md-3">
                <a href="admNoticiaAdd.php" class="btn btn-primary pull-right h2">Novo Produto</a>

            </div>


    </div> <!-- /#top -->
    <hr/>
    <div id="list" class="row">
        <div>
            <div class="table-responsive col-md-12">
                <h2>Lista de Produtos</h2>
                <table id="tabelanoticias" class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr style="background-color: firebrick">

                        <th> Cod</th>
                        <th> Nome</th>
                        <th> Descricao</th>
                        <th> Preço</th>
                        <th> Quantidade</th>
                        <th class="actions"> Ação</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Produto 1</td>
                            <td>Descrição do produto 1</td>
                            <td>R$ 100,00</td>
                            <td> 10</td>
                            <td class="action">

                                <a class="btn btn-success btn-xs"
                                   href="admNoticiaView.php?id=<?php echo $reg['cod'] ?>">Visualizar</a>
                                <a class="btn btn-warning btn-xs"
                                   href="admNoticiaEditar.php?id=<?php echo $reg['cod'] ?>">Editar</a>
                                <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                                   data-target="#delete-modal">Excluir</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Produto 2</td>
                            <td>Descrição do produto 2</td>
                            <td>R$ 200,00</td>
                            <td> 20</td>
                            <td class="action">

                                <a class="btn btn-success btn-xs"
                                   href="admNoticiaView.php?id=<?php echo $reg['cod'] ?>">Visualizar</a>
                                <a class="btn btn-warning btn-xs"
                                   href="admNoticiaEditar.php?id=<?php echo $reg['cod'] ?>">Editar</a>
                                <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                                   data-target="#delete-modal">Excluir</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Produto 3</td>
                            <td>Descrição do produto 3</td>
                            <td>R$ 300,00</td>
                            <td> 30</td>
                            <td class="action">

                                <a class="btn btn-success btn-xs"
                                   href="admNoticiaView.php?id=<?php echo $reg['cod'] ?>">Visualizar</a>
                                <a class="btn btn-warning btn-xs"
                                   href="admNoticiaEditar.php?id=<?php echo $reg['cod'] ?>">Editar</a>
                                <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                                   data-target="#delete-modal">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </form>
        </div> <!-- fim da tabela -->
    </div> <!-- /#list -->

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->
        </div>
    </div> <!-- /#bottom -->

</div>  <!-- /#main -->

</div><!-- fim do container -->
</body>
</html>